<manifest package="com.jugaad.glasstodo"
    android:versionCode="1"
    android:versionName="1.0" xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- icon by http://thenounproject.com/term/check-box/876/ -->

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />
    
    <uses-permission
     android:name="com.google.android.glass.permission.DEVELOPMENT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/GlassTheme" >
        
        <activity
            android:name="com.jugaad.glasstodo.activity.NewTaskActivity"
            android:enabled="true"
            android:label="@string/new_task_voice_trigger" >

            <!-- android:theme="@style/MenuTheme" -->
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/new_task_voice_trigger" />
        </activity>
        
        <activity
            android:name="com.jugaad.glasstodo.activity.TaskListActivity"
            android:enabled="true"
            android:label="@string/show_tasks_voice_trigger" >

            <!-- android:theme="@style/MenuTheme" -->
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            
             <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/show_tasks_voice_trigger" />
        </activity>
        
        <activity
            android:name="com.jugaad.glasstodo.activity.SingleTaskActivity"
            android:enabled="true">
        </activity>
        
    </application>

</manifest>